In [2]:
import pandas as pd
import numpy as np

In [4]:
url = 'https://data.cdc.gov/resource/qdcb-uzft.json'
data_cov = pd.read_json(url)
data_cov.head()

,agegroup,c19pluschronicliver,c19pluschroniclowerresp,c19plusdiabetes,c19plushypertensive_mcvd,c19plushypertensived,c19pluskidneydisease,c19plusmcvd,c19plusobesity,covid19,data_as_of,death_month,death_year,diabetes_mc,diabetes_uc,sex
0,<18 years,0,0,0,0,0,0,0,0,0,10/20/2020,1,2020,5,3,Female (F)
1,<18 years,0,0,0,0,0,0,0,0,0,10/20/2020,1,2020,3,3,Male (M)
2,18-29 years,0,0,0,0,0,0,0,0,0,10/20/2020,1,2020,36,20,Female (F)
3,18-29 years,0,0,0,0,0,0,0,0,0,10/20/2020,1,2020,65,44,Male (M)
4,30-39 years,0,0,0,0,0,0,0,0,0,10/20/2020,1,2020,104,53,Female (F)

In [5]:
data_cov.describe()

,c19pluschronicliver,c19pluschroniclowerresp,c19plusdiabetes,c19plushypertensive_mcvd,c19plushypertensived,c19pluskidneydisease,c19plusmcvd,c19plusobesity,covid19,death_month,death_year,diabetes_mc,diabetes_uc
count,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.0,226.000000,226.000000
mean,13.920354,146.955752,280.800885,796.712389,373.796460,150.066372,796.712389,58.738938,1710.955752,4.955752,2020.0,2306.327434,630.084071
std,19.359588,211.710972,367.529724,1186.756477,563.602518,198.723348,1186.756477,73.780865,2542.191572,2.581608,0.0,1939.939655,490.021920
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2020.0,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.250000,3.000000,3.000000,2020.0,163.500000,78.250000
50%,6.000000,28.000000,90.500000,190.500000,93.000000,44.500000,190.500000,27.500000,503.000000,5.000000,2020.0,2437.500000,699.500000
75%,22.500000,221.000000,478.000000,1212.750000,568.750000,263.250000,1212.750000,92.750000,2624.000000,7.000000,2020.0,3880.000000,1071.000000
max,89.000000,1094.000000,1521.000000,7001.000000,3274.000000,957.000000,7001.000000,380.000000,15882.000000,9.000000,2020.0,7200.000000,1569.000000